* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 300px;
}

header {
  display: flex;
  padding: 1em;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 4em 2em;
}

p a {
  font-family: "inconsolata";
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: left;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #333333;
}

/* visited link */
a:visited {
  color: #333333;
}

/* mouse over link */
a:hover {
  color: #1e1e1e;
}

/* selected link */
a:active {
  color: #6353be;
}

main {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  max-width: 550px;
}

.left-side {
  align-self: flex-start;
}

.right-side {
  width: 30%;
  align-self: flex-start;
}

main h1 {
  font-family: "space mono";
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;
  color: #333333;
}

main p {
  font-family: "space mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 64px 0;
}

.back-button {
  padding: 15px 30px;
  background: #333333;
  font-family: "space mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
  margin: 2em 4em 2em;
}
